@import '../components/slider.css';
@import '../components/hero.css';
@import '../components/product-tabs.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    --font-heading-family: 'Work Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    @apply tw-font-light;
  }
}

@layer utilities {
  .container-header {
    @apply tw-container;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
