.product-slider-tab-section {
  .embla {
    --embla-gap: 1.5rem;
    --embla-items-count: 1;

    @media screen and (min-width: 768px) {
      --embla-items-count: 2;
      --embla-gap: 2.5rem;
    }

    @media screen and (min-width: 1200px) {
      --embla-items-count: 3;
      --embla-gap: 4.5rem;
    }
  }
}
