{% schema %}
{
  "name": "About Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "About Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    }
  ]
}
{% endschema %}

<div class='about-section'>
  {% for block in section.blocks %}
    <div class='slide'>
      <img src='{{ block.settings.image | image_url: 'large' }}' alt='Slide Image' width='500' height='600'>
    </div>
  {% endfor %}
  <h2>{{ section.settings.title }}</h2>
  <p>{{ section.settings.content }}</p>
</div>
<script>
  console.log({{ section.settings | json }});
</script>
